<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Date and Time Displayed</title>
  </head>
  <body>
    <p>The current time and date is:</p>
    <p><%= @time %></p>
  </body>
</html>
