<h2>All Secrets</h2>

<% @secrets.each do |secret| %>
  <p><%= secret.content %></p>
  <% if current_user == secret.user %>
    <a href="<%= secret_path secret %>" data-method= 'delete'><button>Delete Secret</button></a>
  <% end %>
<% end %>
